
<%= render 'shared/header' %>

<div class="container-fluid all-height vixiv-background">
	<div class="row footer-position">
		<div class="user-box">
			<div class="profile-leftbar">
				<div class="profile-card">
					<%= attachment_image_tag @user, :profile_image, :fill, 80,80, class: "user-myicon", fallback: "/images/no_image.jpg" %>
					<div class="user-myname"><%= @user.name %></div>
				</div>
				<div class="follow-button">
					<%= render 'users/follow/follow_form' if user_signed_in? %>
				</div>
				<div class="user-button"><%= link_to "編集する", edit_user_path(@user), class: "btn btn-success btn-block" %></div>
				<div class="user-link"><%= link_to "パスワード変更", user_password_edit_path(@user), class: "" %></div>
			</div>
			<div class="profile-box">
				<div class="tab">
					<div class="tab-content">トップ</div>
					<%= link_to(user_posts_index_path(@user), class: "") do %>
					<div class="tab-content2">作品</div>
					<% end %>
					<%= link_to(following_user_path(@user), class: "") do %>
					<div class="tab-content2">フォロー</div>
					<% end %>
					<%= link_to(followers_user_path(@user), class: "") do %>
					<div class="tab-content2">フォロワー</div>
					<% end %>
				</div>
				<div class="profile-content">
					<div class="profile-content-title">プロフィール</div>
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td class="col-lg-3">ニックネーム</td>
								<td class="col-lg-9"><%= @user.name %></td>
							</tr>
							<tr>
								<td class="col-lg-3">自己紹介</td>
								<td class="col-lg-9"><%= simple_format(@user.introduction) %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render 'shared/footer' %>
