
<%= render 'shared/header' %>

<div class="container-fluid all-height vixiv-background">
	<div class="row footer-position">
		<div class="user-box">
			<div class="profile-leftbar">
				<div class="profile-card">
					<%= attachment_image_tag @user, :profile_image, :fill, 80,80, class: "user-myicon", fallback: "/images/no_image.jpg" %>
					<div class="user-myname"><%= @user.name %></div>
				</div>
				<div class="follow-button">
					<%= render 'users/follow/follow_form' if user_signed_in? %>
				</div>
				<div class="user-button"><%= link_to "編集する", edit_user_path(@user), class: "btn btn-success btn-block" %></div>
				<div class="user-link"><%= link_to "パスワード変更", user_password_edit_path(@user), class: "" %></div>
			</div>
			<div class="profile-box">
				<div class="tab">
					<%= link_to(user_path(@user), class: "") do %>
					<div class="tab-content2">トップ</div>
					<% end %>
					<div class="tab-content">作品</div>
					<%= link_to(following_user_path(@user), class: "") do %>
					<div class="tab-content2">フォロー</div>
					<% end %>
					<%= link_to(followers_user_path(@user), class: "") do %>
					<div class="tab-content2">フォロワー</div>
					<% end %>
				</div>
				<div class="user-posts-title"><%= @user.name %>の作品一覧</div>
				<div class="user-posts-count"><%= @user.posts.count %>件</div>
			<div class="user-post-box">
				<% @posts.each do |post| %>
					<div class="user-posts-content">
						<%= link_to (post_path(post)) do %>
							<%= attachment_image_tag post, :image, size: '150x150', class: "user-post-image", fallback: "/images/no_image.jpg" %>
						<% end %>
						<div class="user-post-title">
							<b><%= post.post_title.truncate(10) %></b>
						</div>
						<%= link_to '詳細', post_path(post), class: "user-post-link" %>
					</div>
				<% end %>
			</div>
			</div>
		</div>
	</div>
</div>

<%= render 'shared/footer' %>
