
<%= render 'shared/header' %>

<div class="container-fluid all-height vixiv-background2">
	<div class="row footer-position2">
		<div class="user-edit-box">
			<%= form_for(@user) do |f| %>
      			<div class="field">
        			<%= f.label :password, "パスワード", class: "vixiv-black user-pass-edit-title" %>
        			<% if @minimum_password_length %>
          				<em>(<%= @minimum_password_length %>文字以上)</em>
        			<% end %>
        			<%= f.password_field :password, autocomplete: "password", class: "post-mysize" %>
      			</div>
      			<div class="field">
        			<%= f.label :password_confirmation, "パスワード再確認", class: "vixiv-black user-pass-edit-title2" %>
        			<%= f.password_field :password_confirmation, autocomplete: "off", class: "post-mysize" %>
      			</div>
      			<div class="actions user-pass-edit-button-area">
        			<%= f.submit "保存", data: { confirm: '確認のため一度ログアウトします。再度ログインしてください。' }, class: "btn btn-primary user-pass-edit-button" %>
      			</div>
    		<% end %>
		</div>
	</div>
</div>

<footer>
<div class="vixiv-background2 footer-position">
	<div class="footer-box">
		<div class="footer-content">
			<div class="footer-left">
				<div class="footer-title">会社情報</div>
				<div class="vixiv-info">
					<div class="vixiv-black">〒000-0000<br>ｘｘ市ｘｘ区ｘｘ町0-0</div>
					<div class="vixiv-black">Mail：ｘｘｘ＠ｘｘ.ｘｘ</div>
					<div class="vixiv-black">Tell：000-000-0000</div>
				</div>
			</div>
			<div class="footer-right">
				<div class="footer-title">ご利用について</div>
				<div class="footer-link">
					<div class="footer-text">利用規約</div>
					<div class="footer-text">ガイドライン</div>
					<div class="footer-text">プライバシーポリシー</div>
					<%= link_to(new_contact_path, class: "") do %>
					<div class="footer-text">お問い合わせ</div>
					<% end %>
				</div>
			</div>
			<div class="footer-underline vixiv-black"></div>
			<div class="copyright vixiv-black">© vixiv</div>
		</div>
	</div>
</div>
</footer>
