
<%= render 'shared/header' %>

<div class="container-fluid all-height vixiv-background">
	<div class="row footer-position">
		<div class="user-box">
			<div class="profile-leftbar">
				<div class="profile-card">
					<%= attachment_image_tag @user, :profile_image, :fill, 80,80, class: "user-myicon", fallback: "no_image.jpg" %>
					<div class="user-myname"><%= @user.name %></div>
				</div>
				<div class="follow-button">
					<%= render 'users/follow/follow_form' if user_signed_in? %>
				</div>
				<div class="user-button"><%= link_to "編集する", edit_user_path(@user), class: "btn btn-success btn-block" %></div>
				<div class="user-link"><%= link_to "パスワード変更", user_password_edit_path(@user), class: "" %></div>
			</div>
			<div class="profile-box">
				<div class="tab">
					<%= link_to(user_path(@user), class: "") do %>
					<div class="tab-content2">トップ</div>
					<% end %>
					<%= link_to(user_posts_index_path(@user), class: "") do %>
					<div class="tab-content2">作品</div>
					<% end %>
					<div class="tab-content">フォロー</div>
					<%= link_to(followers_user_path(@user), class: "") do %>
					<div class="tab-content2">フォロワー</div>
					<% end %>
				</div>
				<div class="follow-title">フォロー中</div>
				<div class="follow-count"><%= @user.following.count %></div>
				<div class="follow-content">
					<% @user.following.each do |user| %>
						<%= link_to(user_path(user), class: "") do %>
							<div class="follow-icon-box">
								<%= attachment_image_tag user, :profile_image, :fill, 75,75, class: "follow-icon", fallback: "no_image.jpg" %>
								<div class="follow-text"><%= user.name.truncate(5) %></div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render 'shared/footer' %>
